---
import Layout from "../../components/Layout.astro";
---

<Layout title="Blog">
     <section class="blog-list">
          <h1 class="text-3xl font-bold mb-8">Blog Space</h1>
          <p></p>
          <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
               
          </div>
     </section>
</Layout>